.sculptart-img img {
  height: 50vh; 
}
.sculptart-img-right img{
    height: 80px;
}
.our-team{
    height: 80vh;

.our-team-img img{
    height: 300px;
}
}
.img-absolute1{
     right: 100px;
}
.img-absolute2{
    right: 400px;
    bottom:-550px;
}
